/* ==========================================================================
   Default skin
   ========================================================================== */
@import '../_variables.scss';

$background-color: #fff;
$text-color: $dark-gray;
$link-color: $text-color;
$footer-background-color: mix(#000, $background-color, 10%);
$code-background-color: rgba(27,31,35, 0.2);

article.archive__item > h2.archive__item-title > a {
  color: $text-color;
}

//
// @media (prefers-color-scheme: dark)  {
//     $background-color: #252a34;
//     $text-color: $lighter-gray;
//     $masthead-link-color: $text-color;
//     $masthead-link-color-hover: mix(#000, $text-color, 20%);
//     $footer-background-color: mix(#000, $background-color, 10%);
//     $border-color: $gray;
//     $muted-text-color: $text-color;
//     $primary-color: $text-color;
//
//     article.archive__item > h2.archive__item-title > a {
//         color: $text-color;
//     }

//     .social-icons path{
//         color: $text-color !important;
//         fill: $text-color !important;
//     }

// }

